html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Dell";
  src: url("./fonts/Dell.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ashar";
  src: url("./fonts/Ashar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Karolina";
  src: url("./fonts/Karolina-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
[data-theme=light] {
  --light-0: #90858564;
  --another-1: #d7ced6;
  --btn-1: #0c1015;
  --btn-2: #bcab97;
  --btn-3: #0c1015;
  --btn-4: #d7ced6;
  --btn-5: #554b4182;
  --header-1: #4e4a47;
  --header-2: #6c69658e;
  --offensive-1: #4e4a47;
  --text: #0c1015;
  --field-1: #4e4a47;
  --field-2: #bcab97;
  --field-3: #282b37;
  --field-4: #818189;
  --field-5: #bcab97;
  --field-6: #d7ced6;
  --overlay: rgba(188, 171, 151, 0.6);
  --modal: #4e4a47;
  --cell: rgb(56, 56, 56);
  --cross: url(./img/cross-light.svg);
}

[data-theme=dark] {
  --light-0: #000000ce;
  --another-1: #818189;
  --btn-1: #d7ced6;
  --btn-2: #56568f7c;
  --btn-3: #d7ced6;
  --btn-4: #0c1015;
  --btn-5: #d5979f7e;
  --header-1: #bcab97;
  --header-2: #4e4a47;
  --offensive-1: #d7ced6;
  --text: #d7ced6;
  --field-1: #857462;
  --field-2: #0c1015b0;
  --field-3: #0c1015;
  --field-4: #1b1b6798;
  --field-5: #671b1b9f;
  --field-6: #323332b6;
  --overlay: rgba(18, 11, 4, 0.6);
  --modal: #857462;
  --cell: rgb(35, 35, 35);
  --cross: url(./img/cross-dark.svg);
}

.lower-hints__line, .upper-hints__line, .field__cell {
  background: var(--another-1);
  opacity: 0.7;
}

.modal__cover span, .modal__label, .menu__label {
  color: var(--field-2);
  -webkit-text-decoration: var(--field-3) underline;
          text-decoration: var(--field-3) underline;
}

.modal__text-achieve, .modal__text, .menu__or, .menu__text {
  color: var(--field-6);
}

.modal__btn, .level__btn, .btns__btn, .offensive__btn, .header__btn {
  min-width: 120px;
  max-width: 200px;
  padding: 15px;
  font-size: 22px;
  text-align: center;
  color: var(--btn-1);
  background: var(--btn-2);
  border-radius: 20px;
  border: 1px solid var(--btn-3);
  box-sizing: border-box;
}

.body {
  font-family: "Ashar";
  background: var(--light-0);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: var(--header-2);
}
.header__logo {
  color: var(--header-1);
  margin-left: 30px;
  font-family: "Dell";
  font-size: 60px;
}
.header__container {
  display: flex;
  align-items: center;
  padding-right: 50px;
  gap: 30px;
}
.header__sound, .header__sound-off {
  width: 45px;
  height: 45px;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 50%;
}
.header__sound {
  background-image: url("./img/sound-on.svg");
}
.header__sound-off {
  background-image: url("./img/sound-off.png");
}
.header__theme-light, .header__theme-dark {
  width: 45px;
  height: 45px;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 50%;
}
.header__theme-light {
  background-image: url("./img/light.svg");
}
.header__theme-dark {
  background-image: url("./img/dark.png");
}
.offensive {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
.offensive__label {
  font-size: 25px;
  color: var(--offensive-1);
  font-weight: 800;
}
.offensive__label span {
  color: var(--offensive-1);
  -webkit-text-decoration: var(--offensive-1) underline;
          text-decoration: var(--offensive-1) underline;
}
.offensive__timer {
  font-family: "Dell";
  font-size: 25px;
  color: var(--offensive-1);
}
.offensive__btns {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.offensive__bottom {
  max-width: 460px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 40px;
}

.game {
  display: grid;
  grid-template-areas: "first second" "third four";
  justify-content: center;
  margin-top: 20px;
}

.field {
  grid-area: four;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.field__row {
  display: flex;
  box-sizing: border-box;
  border-bottom: 1.5px solid #343331;
}
.field__row:nth-child(5n) {
  border-bottom: 3px solid #0c1015;
}
.field__row:nth-child(1) {
  border-top: 3px solid #0c1015;
}
.field__cell {
  border-right: 1.5px solid #343331;
  max-width: 35px;
  max-height: 35px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.field__cell:nth-child(5n) {
  border-right: 3px solid #0c1015;
}
.field__cell:nth-child(1) {
  border-left: 3px solid #0c1015;
}

.fill {
  background: var(--cell);
}

.cross {
  display: block;
  position: relative;
  overflow: hidden;
}
.cross::before {
  content: "";
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0) var(--cross) no-repeat;
  background-size: 100% 100%;
}

.upper-hints {
  grid-area: second;
  margin: 0 auto;
  display: grid;
  border-top: 1.5px solid #343331;
}
.upper-hints__line {
  border-right: 1.5px solid #343331;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 3px;
  padding-bottom: 5px;
  padding-top: 15px;
}
.upper-hints__line:nth-child(5n) {
  border-right: 3px solid #0c1015;
}
.upper-hints__line:nth-child(1) {
  border-left: 3px solid #0c1015;
}

.line-text {
  color: var(--text);
  font-size: 15px;
}

.lower-hints {
  grid-area: third;
  margin: 0 auto;
  display: grid;
  border-left: 1.5px solid #343331;
}
.lower-hints__line {
  border-bottom: 1.5px solid #343331;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 8px;
  gap: 8px;
  padding-left: 15px;
}
.lower-hints__line:nth-child(5n) {
  border-bottom: 3px solid #0c1015;
}
.lower-hints__line:nth-child(1) {
  border-top: 3px solid #0c1015;
}
.lower-hints__line:nth-last-child(1) {
  border-bottom: 3px solid #0c1015;
}

.btns {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  font-size: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.menu__cover {
  padding: 40px;
  border-radius: 30px;
  background: var(--field-1);
  text-align: center;
}
.menu__continue {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu__label {
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu__text {
  margin-bottom: 40px;
}
.menu__level {
  color: var(--field-4);
  margin-bottom: 20px;
}

.level {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  font-size: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.level__options {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 40px;
  border-radius: 30px;
  background: var(--field-1);
}
.level__headline {
  color: var(--field-6);
  margin-top: 10px;
  margin-bottom: 40px;
}
.level__desc {
  color: var(--field-2);
  -webkit-text-decoration: var(--field-3) underline;
          text-decoration: var(--field-3) underline;
}
.level__btn {
  margin-top: 20px;
}
.level__field {
  color: var(--field-4);
  margin-bottom: 20px;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100%;
  background: var(--overlay);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: bold;
  gap: 40px;
  width: 400px;
  margin: 20px;
  padding: 16px 14px 16px 16px;
  border-radius: 40px;
  background: var(--modal);
  z-index: 1;
  transform: scale(0);
  transition: all 0.5s;
}
.modal-active {
  transform: scale(1);
}
.modal__achieve {
  width: 400px;
}
.modal__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
.modal__label {
  margin-bottom: 10px;
}
.modal__text {
  margin-bottom: 10px;
}
.modal__text-achieve {
  margin-bottom: 10px;
}
.modal__btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.modal__btn {
  max-width: 250px;
}
.modal__cover {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 1.5px dashed var(--field-6);
  margin-top: 7px;
}
.modal__cover-right {
  width: 200px;
}
.modal__cover:nth-child(2) {
  margin-top: 20px;
}
.modal__cover:nth-last-child(2) {
  margin-bottom: 20px;
}
.modal__img {
  max-width: 120px;
}
.modal__img img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
}

.disable {
  opacity: 0.4;
}

@media (hover: hover) {
  .header__btn:hover, .offensive__btn:hover, .btns__btn:hover, .level__btn:hover, .modal__btn:hover {
    color: var(--btn-4);
    background: var(--btn-5);
    border: 1px solid var(--btn-3);
    cursor: pointer;
  }
  .disable:hover {
    cursor: default;
    color: var(--btn-1);
    background: var(--btn-2);
    border: 1px solid var(--btn-3);
  }
  .header__logo:hover {
    cursor: pointer;
  }
  .header__sound:hover, .header__sound-off:hover {
    filter: drop-shadow(0px 0px 1px var(--btn-4));
    cursor: pointer;
  }
  .menu__level:hover {
    color: var(--field-5);
    -webkit-text-decoration: var(--field-5) underline;
            text-decoration: var(--field-5) underline;
    cursor: pointer;
  }
  .level__field:hover {
    color: var(--field-5);
    -webkit-text-decoration: var(--field-5) underline;
            text-decoration: var(--field-5) underline;
    cursor: pointer;
  }
}
@media screen and (width < 1040px) {
  .header__logo {
    font-size: 40px;
  }
  .menu {
    font-size: 35px;
  }
  .menu__cover {
    padding: 15px;
    margin: 0 10px;
  }
  .modal {
    width: 420px;
    padding: 10px;
    font-size: 25px;
    margin: 0 10px;
  }
  .modal__text {
    max-width: 380px;
  }
}
@media screen and (width < 870px) {
  .header__btn, .offensive__btn, .btns__btn, .level__btn, .modal__btn {
    min-width: 90px;
    font-size: 16px;
    padding: 12px;
  }
  .header__logo {
    background-image: url("./img/logo.png");
    width: 60px;
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .header__logo span {
    display: none;
  }
  .header__container {
    gap: 15px;
    padding-right: 15px;
  }
  .header__sound, .header__theme-light, .header__theme-dark {
    width: 35px;
    height: 35px;
  }
  .offensive__bottom {
    max-width: 350px;
  }
  .offensive__btns {
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */