html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Dell';
  src: url('./fonts/Dell.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ashar';
  src: url('./fonts/Ashar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Karolina';
  src: url('./fonts/Karolina-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
[data-theme='light'] {
  --light-0: #90858564;
  --another-1: #d7ced6;
  --btn-1: #0c1015;
  --btn-2: #bcab97;
  --btn-3: #0c1015;
  --btn-4: #d7ced6;
  --btn-5: #554b4182;
  --header-1: #4e4a47;
  --header-2: #6c69658e;
  --offensive-1: #4e4a47;
  --text: #0c1015;
  --field-1: #4e4a47;
  --field-2: #bcab97;
  --field-3: #282b37;
  --field-4: #818189;
  --field-5: #bcab97;
  --field-6: #d7ced6;
  --overlay: rgba(188, 171, 151, 0.6);
  --modal: #4e4a47;
  --cell: rgb(56, 56, 56);
  --cross: url(./img/cross-light.svg);
}

[data-theme='dark'] {
  --light-0: #000000ce;
  --another-1: #818189;
  --btn-1: #d7ced6;
  --btn-2: #56568f7c;
  --btn-3: #d7ced6;
  --btn-4: #0c1015;
  --btn-5: #d5979f7e;
  --header-1: #bcab97;
  --header-2: #4e4a47;
  --offensive-1: #d7ced6;
  --text: #d7ced6;
  --field-1: #857462;
  --field-2: #0c1015b0;
  --field-3: #0c1015;
  --field-4: #1b1b6798;
  --field-5: #671b1b9f;
  --field-6: #323332b6;
  --overlay: rgba(18, 11, 4, 0.6);
  --modal: #857462;
  --cell: rgb(35, 35, 35);
  --cross: url(./img/cross-dark.svg);
}
$light-5: #0c1015;
$light-4: #343331;

%cell {
  background: var(--another-1);
  opacity: 0.7;
}
%label {
  color: var(--field-2);
  // margin-top: 10px;
  text-decoration: var(--field-3) underline;
}
%text {
  color: var(--field-6);
  // margin-top: 10px;
}
%btn {
  min-width: 120px;
  max-width: 200px;
  padding: 15px;
  font-size: 22px;
  text-align: center;
  color: var(--btn-1);
  background: var(--btn-2);
  border-radius: 20px;
  border: 1px solid var(--btn-3);
  box-sizing: border-box;
}
.body {
  font-family: 'Ashar';
  background: var(--light-0);
  // background: #584c3895;
  // opacity: 0.5;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 100vw;
  height: 70px;
  background: var(--header-2);
  &__logo {
    color: var(--header-1);
    margin-left: 30px;
    font-family: 'Dell';
    font-size: 60px;
  }
  &__container {
    display: flex;
    align-items: center;
    padding-right: 50px;
    gap: 30px;
  }
  &__sound,
  &__sound-off {
    width: 45px;
    height: 45px;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 50%;
  }
  &__sound {
    background-image: url('./img/sound-on.svg');
    &-off {
      background-image: url('./img/sound-off.png');
    }
  }
  &__theme-light,
  &__theme-dark {
    width: 45px;
    height: 45px;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 50%;
  }
  &__theme {
    &-light {
      background-image: url('./img/light.svg');
    }
    &-dark {
      background-image: url('./img/dark.png');
    }
  }
  &__btn {
    @extend %btn;
  }
}
.offensive {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;

  &__label {
    font-size: 25px;
    color: var(--offensive-1);
    font-weight: 800;

    span {
      color: var(--offensive-1);
      text-decoration: var(--offensive-1) underline;
    }
  }

  &__timer {
    font-family: 'Dell';
    font-size: 25px;
    color: var(--offensive-1);
  }
  &__btns {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__btn {
    @extend %btn;
  }
  &__bottom {
    max-width: 460px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 40px;
  }
}
.game {
  display: grid;
  // grid-template-columns: 70px 250px;
  // grid-template-rows: 70px 250px;
  grid-template-areas:
    'first second'
    'third four';
  justify-content: center;
  margin-top: 20px;
}
.field {
  grid-area: four;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  &__row {
    display: flex;
    box-sizing: border-box;
    border-bottom: 1.5px solid $light-4;

    &:nth-child(5n) {
      border-bottom: 3px solid $light-5;
    }
    &:nth-child(1) {
      border-top: 3px solid $light-5;
    }
  }
  &__cell {
    @extend %cell;
    border-right: 1.5px solid $light-4;
    max-width: 35px;
    max-height: 35px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    &:nth-child(5n) {
      border-right: 3px solid $light-5;
    }
    &:nth-child(1) {
      border-left: 3px solid $light-5;
    }
  }
}
.fill {
  background: var(--cell);
}
.cross {
  display: block;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: auto;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0) var(--cross) no-repeat;
    // background-image: var(--cross);
    // background: rgba(9, 9, 9, 0) url(./img/cross.svg) no-repeat;
    background-size: 100% 100%;
  }
}
.upper-hints {
  grid-area: second;
  margin: 0 auto;
  display: grid;
  border-top: 1.5px solid $light-4;

  &__line {
    @extend %cell;
    border-right: 1.5px solid $light-4;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 3px;
    padding-bottom: 5px;
    padding-top: 15px;

    &:nth-child(5n) {
      border-right: 3px solid $light-5;
    }
    &:nth-child(1) {
      border-left: 3px solid $light-5;
    }
  }
}
.line-text {
  color: var(--text);
  font-size: 15px;
}
.lower-hints {
  grid-area: third;
  margin: 0 auto;
  display: grid;
  border-left: 1.5px solid $light-4;

  &__line {
    @extend %cell;
    border-bottom: 1.5px solid $light-4;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 8px;
    gap: 8px;
    padding-left: 15px;

    &:nth-child(5n) {
      border-bottom: 3px solid $light-5;
    }
    &:nth-child(1) {
      border-top: 3px solid $light-5;
    }
    &:nth-last-child(1) {
      border-bottom: 3px solid $light-5;
    }
  }
}
.btns {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  &__btn {
    @extend %btn;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  font-size: 40px;
  user-select: none;

  &__cover {
    padding: 40px;
    border-radius: 30px;
    background: var(--field-1);
    text-align: center;
  }
  &__continue {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // margin-bottom: 20px;
  }
  &__label {
    @extend %label;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__text {
    @extend %text;
    margin-bottom: 40px;
  }
  &__or {
    @extend %text;
  }
  &__level {
    color: var(--field-4);
    margin-bottom: 20px;
  }
}
.level {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  font-size: 40px;
  user-select: none;

  &__options {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 40px;
    border-radius: 30px;
    background: var(--field-1);
  }
  &__headline {
    color: var(--field-6);
    margin-top: 10px;
    margin-bottom: 40px;
  }
  &__desc {
    color: var(--field-2);
    text-decoration: var(--field-3) underline;
  }
  &__btn {
    @extend %btn;
    margin-top: 20px;
  }
  &__field {
    color: var(--field-4);
    margin-bottom: 20px;
  }
}
.overlay {
  position: fixed;
  width: 100vw;
  height: 100%;
  background: var(--overlay);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: bold;
  gap: 40px;
  width: 400px;
  margin: 20px;
  padding: 16px 14px 16px 16px;
  border-radius: 40px;
  background: var(--modal);
  z-index: 1;
  transform: scale(0);
  transition: all 0.5s;

  &-active {
    transform: scale(1);
  }
  &__achieve {
    width: 400px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  &__label {
    @extend %label;
    margin-bottom: 10px;
  }
  &__text {
    @extend %text;
    margin-bottom: 10px;
    &-achieve {
      @extend %text;
      margin-bottom: 10px;
    }
  }
  &__btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  &__btn {
    @extend %btn;
    max-width: 250px;
  }
  &__cover {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1.5px dashed var(--field-6);
    margin-top: 7px;

    &-right {
      width: 200px;
    }
    &:nth-child(2) {
      margin-top: 20px;
    }
    &:nth-last-child(2) {
      margin-bottom: 20px;
    }
    span {
      @extend %label;
    }
  }
  &__img {
    max-width: 120px;
    img {
      object-fit: fill;
      width: 100%;
    }
  }
}
.disable {
  opacity: 0.4;
}
@media (hover: hover) {
  %btn {
    &:hover {
      color: var(--btn-4);
      background: var(--btn-5);
      border: 1px solid var(--btn-3);
      cursor: pointer;
    }
  }
  .disable {
    &:hover {
      cursor: default;
      color: var(--btn-1);
      background: var(--btn-2);
      border: 1px solid var(--btn-3);
    }
  }
  .header {
    &__logo {
      &:hover {
        cursor: pointer;
      }
    }
    &__sound,
    &__sound-off {
      &:hover {
        filter: drop-shadow(0px 0px 1px var(--btn-4));
        cursor: pointer;
      }
    }
  }
  .menu {
    &__level {
      &:hover {
        color: var(--field-5);
        text-decoration: var(--field-5) underline;
        cursor: pointer;
      }
    }
  }
  .level {
    &__field {
      &:hover {
        color: var(--field-5);
        text-decoration: var(--field-5) underline;
        cursor: pointer;
      }
    }
  }
}
@media screen and (width < 1040px) {
  .header {
    &__logo {
      font-size: 40px;
    }
  }
  .menu {
    font-size: 35px;
    &__cover {
      padding: 15px;
      margin: 0 10px;
    }
  }
  .modal {
    width: 420px;
    padding: 10px;
    font-size: 25px;
    margin: 0 10px;

    &__text {
      max-width: 380px;
    }
  }
}
@media screen and (width < 870px) {
  %btn {
    min-width: 90px;
    font-size: 16px;
    padding: 12px;
  }
  .header {
    &__logo {
      background-image: url('./img/logo.png');
      width: 60px;
      height: 60px;

      background-size: 100%;
      background-repeat: no-repeat;

      span {
        display: none;
      }
    }
    &__container {
      gap: 15px;
      padding-right: 15px;
    }
    &__sound,
    &__theme-light,
    &__theme-dark {
      width: 35px;
      height: 35px;
    }
  }
  .offensive {
    &__bottom {
      max-width: 350px;
    }
    &__btns {
      justify-content: space-between;
    }
  }
}
