html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Dell";
  src: url("./fonts/Dell.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ashar";
  src: url("./fonts/Ashar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Karolina";
  src: url("./fonts/Karolina-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.body {
  font-family: "Ashar";
  background: rgba(88, 76, 56, 0.585);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70px;
  background: #4e4a47;
}
.header__logo {
  color: #bcab97;
  margin-left: 30px;
  font-family: "Dell";
  font-size: 60px;
}
.header__container {
  display: flex;
}
.header__btn {
  width: 130px;
  font-size: 22px;
  padding: 15px;
  margin-right: 50px;
  text-align: center;
  color: #0c1015;
  background: #bcab97;
  border-radius: 20px;
}
.header__btn:hover {
  color: #d7ced6;
  background: #818189;
  cursor: pointer;
}

.offensive {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70vw;
  height: 70px;
  margin: 0 auto;
}
.offensive__timer {
  font-family: "Dell";
  font-size: 25px;
  color: #282b37;
}

.game {
  display: grid;
  grid-template-areas: "first second" "third four";
  justify-content: center;
  margin-top: 50px;
}

.field {
  grid-area: four;
  display: grid;
  margin: 0 auto;
}
.field__cell {
  background: rgb(96, 93, 93);
  border: 1px solid rgb(192, 190, 190);
  box-sizing: border-box;
}

.fill {
  background: rgb(56, 56, 56);
}

.cross {
  display: block;
  position: relative;
  overflow: hidden;
}
.cross::before {
  content: "";
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0) url(./img/cross.svg) no-repeat;
  background-size: 100% 100%;
}

.upper-hints {
  grid-area: second;
  margin: 0 auto;
  display: grid;
  font-family: "Ashar";
  grid-template-rows: 70px;
}
.upper-hints__line {
  background: rgb(141, 139, 139);
  border: 1px solid rgb(192, 190, 190);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 3px;
  padding-bottom: 5px;
}

.line-text {
  font-size: 15px;
}

.lower-hints {
  grid-area: third;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 70px;
  grid-template-rows: repeat(5, 50px);
}
.lower-hints__line {
  background: rgb(141, 139, 139);
  border: 1px solid rgb(192, 190, 190);
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 5px;
  gap: 8px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  font-size: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.menu__start {
  text-align: center;
  padding: 40px;
  border-radius: 30px;
  background: #4e4a47;
}
.menu__label {
  color: #bcab97;
  margin-top: 10px;
  -webkit-text-decoration: #282b37 underline;
          text-decoration: #282b37 underline;
}
.menu__text {
  color: #d7ced6;
  margin-top: 10px;
  margin-bottom: 60px;
}
.menu__level {
  color: #818189;
  margin-bottom: 20px;
}
.menu__level:hover {
  color: #bcab97;
  -webkit-text-decoration: #282b37 underline;
          text-decoration: #282b37 underline;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */